{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>2021 Forif hackathon : Starcraft</title>
        <link rel="stylesheet" href="stars.css">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    </head>
<body>
    <div class="sky">
        <h1>별헤는밤</h1>
        <h3>당신의 이름을 알려주세요</h3>
        <input type="text" class="startname" placeholder="">
        <h3><a href="">시작하기</a></h3>
        <img class="start" src="시작.png">
    </div>

    <div class="credit">
        <p>published: 16.01.2021, 07:31 </p>
        <h2><a heref="">Who are '별을깎는노인들'?</a></h2>
        <div>김정은,양은정,김은민,전지원. Done
    </div>
</body>
</html>

<html>
    <p>welcome to the Starcraft!</p>
    <p>it works!</p>
</html>