* {
    margin: auto;
  }
  
  .sky {
    background-color: rgb(13, 15, 48);
    background:radial-gradient(circle,rgb(9, 10, 32),rgb(23, 26, 77));
    width: 1200px;
    height: 100vh;
    overflow: hidden;
  }
  .footer{
    background-color:#000;
    width: 1200px;
    height:40vh;
    background:linear-gradient(to bottom,rgb(51, 55, 138),#000)
  }
  
  .star_space {
    width: 5000px;
    margin-left:-2500px;
    height: 5000px;
    transform-origin:50% 50%;
    animation:rotate_image 160s linear infinite;
    
  }
  
  @keyframes rotate_image{
    100%{
      transform:rotate(360deg);
    }
  }
  
  .star {
    background-color: #f7e090;
    width: 3px;
    height: 3px;
    margin: 70px;
    float: left;
    transform: rotate(45deg);
  }
  
  .bigstar {
    background-color: #f7e090;
    width:6px;
    height:6px;
    margin: 70px;
    float: left;
    transform: rotate(45deg);
  }
  
  /* dolphin container */
  
  .dolphincon {
    background-color: rgb(51, 55, 138);
    width: 1200px;
    height:40px;
    
  
  }
  
  

  /* footer */
  
  .img {
    animation:swing 1s linear 0s infinite alternate;
  }
  .fox2{
    width:300px;
    float:left;
  }
  .umbrella{
    position:absolute;
    width:300px;
    left:40%;
    transform:rotate(170deg);
    
  }
  @keyframes swing {
      0% {margin-top: 0px;}
      100% {margin-top: 10px;}
  }
  /* text bubble */
  .floorright{
    float:left;
  }
  .text {
    float:left;
    width: 300px;
    margin: 50px auto;
    border-radius: 15px;
    background: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    font-family: 'Nanum Myeongjo', serif;
    position: relative;
    animation:fadein 3s; 
    box-shadow: 0px 0px 20px #000
    
    
  }
  .fox{
    margin-left:100px;
    margin-top:100px;
  }
  .prince {
    margin-left:20px;
    opacity:0;
    animation-delay: 2.5s;
    animation-fill-mode:forwards;
  
  }
  
  
  
  /* speech bubble right pointer */
  
  .rp:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid #000000;
    border-right: 15px solid transparent;
    border-top: 15px solid #000000;
    border-bottom: 15px solid transparent;
    right: -16px;
    top: 0px;
  }
  
  
  
  
  /* speech bubble left pointer */
  
  .lp:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #000000;
    border-top: 15px solid #000000;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
  }
  
  /* button */
  
  .button {
    font-family: 'Nanum Myeongjo', serif;
    width:100px;
    opacity:0;
    color:rgb(255, 255, 255);
    animation:fadein 3s;
    animation-delay: 3s;
    animation-fill-mode:forwards;
    text-align:center;
    
   
  }
  
  .intext{
    background: rgba(255, 255, 255,0);
    border:solid 0px;
    color:white;
  }
  
  .button:hover {
    text-shadow: 0 0 20px #fff;
  
  }
  
  @keyframes fadein {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }
  
  /* bottom */
  .bottom{
    background-color:#000;
    width:1200px;
    height:200px;
    text-align:center;
    
  }
  
  .bottom h2{
    font-family: 'Nanum Myeongjo', serif;
    color:#fff;
    text-shadow: 0 0 20px #fff;
    letter-spacing: 5px;
  }
  
  
  .name{
    height:40px;
    width:150px;
    font-size:16pt;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    color:white;
    font-family: 'Nanum Myeongjo', serif;
    text-align:center;
    background-color:#000;
  }